@page
@model wordNote.Pages.Words.DetailsModel

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Word</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Word.Person)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Word.Person)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Word.Line)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Word.Line)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Word.Profession)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Word.Profession)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Word.Span)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Word.Span)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Word.Submitter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Word.Submitter)
        </dd>
    </dl>
</div>
<div>
    <button onclick="location.href='./Index'" class="btn btn-primary">Back</button>
</div>
</body>
</html>
