@page
@model wordNote.Pages.Words.IndexModel
@{
}
<html>
<head>
    <link rel="stylesheet" href="~/css/Word.css" />
</head>
<body>
    <br/><br /><br />
<table class="table">
    <thead>
        <tr>
            <th>
                人物
            </th>
            <th>
                言葉
            </th>
            <th>
                職業
            </th>
            <th>
                年号
            </th>
            <th>
                ユーザー
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Word)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Person)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Line)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profession)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Span)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Submitter)
                </td>
                <td>
                    <button class="btn btn-primary" asp-route-id="@item.Id" onclick="location.href='./Words/Edit?id='+@item.Id">Edit</button> |
                    <button class="btn btn-primary" asp-route-id="@item.Id" onclick="location.href='./Words/Delete?id='+@item.Id">Delete</button>
</td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-page="./Create">Create New</a>
</p>
</body>
</html>
