@page
@model wordNote.Pages.Words.MypageModel
@{
}
    <html>
    <body>
        <br /><br /><br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        人物
                    </th>
                    <th>
                        言葉
                    </th>
                    <th>
                        職業
                    </th>
                    <th>
                        年号
                    </th>
                    <th>
                        ユーザー
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Word)
                {
                    @if (item.Submitter == Model.UserName)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Person)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Line)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Profession)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Span)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Submitter)
                            </td>
                            <td>
                                <button class="btn btn-primary"><a asp-page="./Edit" asp-route-id="@item.Id">Edit</a></button> |
                                <button class="btn btn-primary"><a asp-page="./Details" asp-route-id="@item.Id">Details</a></button> |
                                <button class="btn btn-primary"><a asp-page="./Delete" asp-route-id="@item.Id">Delete</a></button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    <p>
        <a asp-page="Create">Create</a>
    </p>
    </body>
    </html>